<p id="notice"><%= notice %></p>

<div class="back-index">
  <%= link_to 'Voltar', lists_path, class: "btn botton-back"%>
</div>

<div class="name-list row m-0">
  <div class="col-12">
    <h2><%= @list.name %></h2>
  </div>
</div>

<div class="task-index m-0">
  <% @list.tasks.each do |task| %>
    <div class="task m-3 radius-5" style="width: 13rem;">
      <div class="flat-task">
        <div class="task-body">
          <h5 class="task-title"><strong>Tarefa: </strong><%= task.title %></h5>
          <p class="task-description"><strong>Descrição: </strong><%= task.description %></p>
          <p class="task-completed"><strong>Terminou? </strong><%= task.completed ? "Sim" : "Não" %></p>
          <div class="btn-adjuste">
            <%= link_to 'Editar a tarefa', edit_list_task_path(@list), class: "btn botton-edit" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row justify-content-around mb-5 ">
  <div class="new-task">
    <%= link_to 'Crie uma nova tarefa aqui', new_list_task_path(@list), class: "btn botton-new" %>
  </div>
</div>

<br>
