<p id="notice"><%= notice %></p>

<h2>
  <strong>Nome:</strong>
  <%= @list.name %>
</h2>

<h3>Tarefas</h3>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @list.tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.completed %></td>
        </tr>
      <% end %>
    </div>
  </div>
</div>

<h3>Crie uma nova tarefa!!!</h3>

<%= simple_form_for [@list, @task] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :completed %>
  <%= f.submit 'Criar a Tarefa' %>
<% end %>

<%= link_to 'Voltar', lists_path%>
