<div class="navbar-lewagon">
  <div class="nav-nav">
    <% if user_signed_in? %>
      <div class="botons-nav">
        <div class="nav-item-brand">
          <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag "https://images.unsplash.com/photo-1605143185597-9fe1a8065fbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" %>
          <% end %>
        </div>
        <div class="nav-item-home">
          <%= link_to "Home", lists_path, class: "nav-link btn botton-home" %>
        </div>
        <div class="nav-item-list">
          <%= link_to "Nova Lista", new_list_path, class: "nav-link btn botton-lists" %>
        </div>
        <div class="nav-item-logout">
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link btn botton-logout" %>
        </div>
      </div>
    <% else %>
      <div class="nav-btn-enter">
        <div class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "nav-link btn botton-login" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
